* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
}

section {
    padding: 40px 10%;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* 헤더 부분 작업 */

header {
    width: 100%;
    height: 100vh;
    /* 1배경이미지 2그라데이션 효과 */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(/HTML_TEST_501/img/test3.jpg);
    padding: 10px 8%;
    position: relative;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav .logo {
    font-size: 32px;
    color: #db0001;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #db0001;
    color: #fff;
    font-size: 16px;
    padding: 10px 24px;
    margin-left: 10xp;
    cursor: pointer;
}

.lang {
    display: inline-flex;
    align-items: center;
    border: 1px solid #fff;
    background-color: transparent;
}

.header-contents {
    position: absolute;
    /* 가운데 정렬 하는법 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-contents h2 {
    font-size: 60px;
    line-height: 1.4;
    font-weight: 600;
    max-width: 650px;
    margin-bottom: 20px;
}

.header-contents h3 {
    font-weight: 400;
    margin-bottom: 40px;
}

.add-email {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.add-email input {
    border: 0;
    outline: 0;
    /* flex에서 레이아웃에서 유연하게 송간 분배를 지정하는 단축 속성, 자동으로 남은 공간 차지 */
    flex: 1;
    margin-left: 20px;
}

.add-email button {
    border: 0;
    background-color: #db0001;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

/* 반응형 헤더 부분 작업 */

@media only screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    nav button {
        padding: 5px 10px;
    }

    .lang {
        padding: 4px 8px;
    }

    .header-contents {
        position: unset;
        transform: none;
        padding-top: 150px;
    }

    .header-contents h2 {
        font-size: 48px;
        line-height: 50px;
    }

    .header-contents h2 {
        font-size: 20px;
    }

    .add-email button {
        font-size: 12px;
        padding: 10px 15px;
    }
}

/* 배너 부분 작업 */

.banner-contents {
    border-radius: 6px;
    background: linear-gradient(to right, #651c3d 0%, #280a2b 60%);
    padding: 40px;
    margin-bottom: 40px;
}

#banner p {
    font-size: 20px;
    color: rgba(225, 225, 225, 0.7);
    margin-bottom: 30px;
}

#banner button,
.membership-contents button {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.4);
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.select-menu {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 10px 24px;
    margin-top: 20px;
    font-size: 16px;
}

.select-menu option {
    background-color: #2b2b2b;
    color: #fff;
}

/* 멤버쉽 부분 작업 */

.membership-contents {
    border-radius: 6px;
    padding: 60px 40px;
    margin-bottom: 40px;
    background: linear-gradient(to right, rgba(101, 28, 61, 0.9) 0%,
            rgba(40, 10, 43, 0.5) 60%),
        url(/HTML_TEST_501/img/test1.jpg) no-repeat right center;
    background-size: cover;

}

.membership-contents p {
    font-size: 20px;
    color: rgba(225, 225, 225, 0.7);
    margin-bottom: 30px;
}



/* 선택 가이드 부분 작업 */

#choice p {
    font-size: 22px;
    color: rgba(225, 225, 225, 0.7);
    margin-bottom: 30px;
}

.choice-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.card {
    flex: 1;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(25, 32, 68, 1) 0%, rgba(32, 19, 34, 1)62%);
    padding: 40px;
    height: 300px;
    position: relative;
}

.subject-img {
    width: 80px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.subject-img img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

/* 반응형 선택 가이드 부분 작업 */

@media only screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 15px);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1220px) {
    .card {
        flex-basis: calc(50% - 15px);
    }
}


/* FAQ 부분 작업 */

#faq .accordion {
    width: 100%;
    max-width: 750px;
    margin: 60px auto;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    /* 기준위치입니다 */
    position: relative;
}

/* 가상요소 : html 수정하지 않고, 시가적인 효과 주기위해서 사용. 
사용하는 방법 요소 뒤에 (::) 콜론 2개를 붙여서 사용함. 
::after : 해당 요소의 마지막 부분에 콘텐츠를 추가 가능함. 
주의사항, 반드시 content 속성이 있어야 동작함. 

::before : 요소 앞쪽에 추가함. 
*/
.accordion li label::after {
    content: '\2b';
    font-size: 40px;
    position: absolute;
    right: 20px;
    transition: 0.5s;
}

.accordion input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #3b3b3b;
    font-size: 22px;
    line-height: 1.6;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}

/* input[type="radio"] 체크 하면 */
/* + 바로 다음 형제 요소에 대해서 선택하는 기능. 
결론, 아래의 선택자의 선택은 
 accordion 클래스 하위의 라디오 체크가된 
 라벨 옆에, 콘텐츠만 가리킴*/
/* 선택자	설명
A + B	A 요소 바로 다음에 오는 B 요소
A ~ B	A 뒤에 오는 모든 형제 B 요소
:checked	input, radio, checkbox가 선택된 경우
[type="radio"]	속성 선택자. type이 radio인 요소 대상
input:checked + div	input이 체크되었을 때, 바로 뒤의 div를 제어 */

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(-135deg);
}

.newsletter {
    padding: 20px 10%;
}

/* footer 부분 작업 */

.footer {
    padding: 60px 10%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.footer-content a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    text-decoration: none;
}

.left {
    flex-basis: 60%;
}

.center,
.right {
    flex-basis: 20%;
    vertical-align: top;
}

.col h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    margin-bottom: 20px;
}

.col h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    margin-bottom: 20px;
}

.footer-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 40px;
}


/* .footer-nav 요소 하위에 li 요소 중에서 
마지막 요소를 제외한 전체 : 오른쪽 선 생성 */
.footer-nav li:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid #eee;
}

.footer-info {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-content p {
    font-size: 14px;
    line-height: 0.6;
    color: rgba(225, 225, 225, 0.7);
    margin-bottom: 20px;
}

/* 반응형 footer 부분 작업 */

@media only screen and (max-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .col {
        flex-basis: 100%;
    }

    .col h2 {
        color: rgba(255, 255, 255, 0.7);
        font-size: 28px;
        margin-bottom: 20px;
    }

    .col h3 {
        color: rgba(255, 255, 255, 0.7);
        font-size: 18px;
        margin-bottom: 20px;
    }

}
